body {
	/*background: url('Pictures/backgrounds/inci-12.jpg');*/
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;;
}

.main {
	margin: 5% 8%;
	overflow: hidden;
	position: relative;
}

.main * {
	display: block;
}


.backgrounds img{
	position: fixed;
	display: none;
	opacity: 0;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -5;
}

.title {
	text-align: center;
	font-size: 350%;
	margin-bottom: 50%;
}

.sponsors {
	margin: 2% auto;
	height: 120px;
	position: relative;
	/*text-align: center;*/
	vertical-align: middle;
	/*background-color: grey;*/
	/*position: relative;*/
}

.sponsors img {
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/
	display: block;
	margin: 0% auto;
	max-width: 90%;
	/*background: linear-gradient(to top, rgba(255, 255, 255,1) 20%, rgba(255, 255, 255,0));*/
}

.trace {
	background-color: grey;
}